body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    line-height: 1.6;
}
.button{
    display: inline-block;
    padding: 25px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s;
}
.buton:hover{
    background: grey;
    box-shadow: 15px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 100px;
    height: auto;
    border-radius: 100%;
    animation: forwards;
}
@keyframes popup{
    0%{transform: scale(0); opacity: 0;}
    70%{transform: scale(1.3);opacity: 1;}
    
}

header{
    background:darkblue;
    color: white;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0%;
}
header nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ;
}
header nav a:hover{
    text-decoration: underline;
    color: blueviolet;
    
}
section{
    padding: 40px;
    text-align: center;
}
#home{
    background-color: pink;
}
#about{
     background-color: pink;
}
#gallery{
    background-color:pink;
}
#contact{
    background-color:pink;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.gallery img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}
.gallery img:hover{
    transform: scale(1.05);
    
}
.caption{
    position: relative;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s;

}
.gallery:hover .caption{
    opacity: 1;
}
form{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
form input, form textarea, form button{
    padding: 10px;
    border: 3px solid;
    border-radius: 8px;
}
form button{
    color: black;
    cursor: pointer;
    transition: 0,3s;
}
form button:hover{
    background: #e44ade;
}
.box{
    position: relative;
    top: 20px;
    left: 30px;
}


