.section1{
    background-color: aqua;
    padding: 20px;
    width: 650px;
    height: 450px;
    margin: 30px;
    text-align: center;
    color: blue;
}
.section2{
     background-color: rgb(255, 0, 153);
    padding: 20px;
    width: 650px;
    height: 450px;
    margin: 30px;
    text-align: center;
    color: black

}
@media screen and (max-width: 700px){

    .section1{
        padding: 10px;
        width: 600px;
        height: 450px;
        margin: 10px;
        background-color:brown;
    }
    .section2{
                padding: 10px;
        width: 600px;
        height: 450px;
        margin: 10px;
        background-color: red;

    }
}
@media screen and (max-width:500px){
    .section1{
        padding: 0px;
        width: 450px;
        height: 350px;
        margin: 0px;
        background-color:rgba(8,0,0);
    }
    .section2{
         padding: 0px;
        width: 250px;
        height: 150px;
        margin: 5px;
        background-color:rgba(255,255,0);

    }
}
