.login{
    width: 164px;
    padding: 40px;
    background-color: rgb(95, 114, 160);

}
body{
    background-image: url(colour.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
table,th,td{
    /* border: 5px solid; */
    /* border-collapse: collapse; */
    border: 5px ;

}
table{
    width: 50%;
}
    
th{
    height: 70px;
}