body{
    /* background-image: url(colour.jpg);
    background-size: contain;
    background-repeat: no-repeat; */

}
h2{
    /* display: inline; */
}
.section1{
    /* absolute */
    width: 300px;
    height: 200px;
    top: 0px;
    left: 0px;
    background-color: black;
    position: relative;
    


}

